.header{
    height: auto;
    display: flex;
    justify-content: center;
    background-color: bisque;
    text-align: center;
}
.headerlogo{
    position: relative;
    font-size: 3em;
    color:rgb(105, 23, 182);
    font-family: Georgia, Helvetica, Impact;
    padding: 0 0 0 5%;
    padding-top: 1rem;
}

  a {
    text-decoration: none;
    color: #3d1101;
  }

  .search {
    position: relative;
    width: 70%;
    float: left;
    padding-top: 2rem;
  }

