colorsIUse{
  color: rgb(255, 197, 255) rgb(242, 33, 242) rgb(255, 251, 197);
}

@media (max-width: 768px) {
  .headerlogo {
    margin-left: 3rem;
  }
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background: linear-gradient(yellow, rgb(255, 197, 255));
  text-align: center;
}

.headerlogo {
  position: relative;
  font-size: 3em;
  color: rgb(242, 33, 242);
  font-family: Georgia, Helvetica, Impact;
  padding: 0 0 0 5%;
  padding-top: 1rem;
}

a {
  text-decoration: none;
  color: rgb(242, 33, 242);
}
a:visited{
  text-decoration: none;
  color: rgb(242, 33, 242);
}

.search {
  position: relative;
  width: 70%;
  float: left;
  padding-top: 2rem;
  justify-content: center;
}

.searchbar {
  width: 50%;
  height: 32px;
  font-size: 20px;
  border: 3px solid rgb(242, 33, 242);
  background-color: beige;
  color: rgb(242, 33, 242); 
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  @media (max-width: 576px) {
    display: none;
  }
}

.searchbtn {
  width: 36px;
  height: 32px;
  background-color: rgb(242, 33, 242);
  color: #efe9e7;
  outline: none;
  border: 2px solid rgb(255, 73, 255);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 6px;
  cursor: pointer;
  position: relative;
  justify-content: center;
  top: 1px;
  right: 0;

  @media (max-width: 576px) {
    display: none;
  }
}