/* nav bar */
.navBar {
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0;margin-bottom: 1rem;
    max-height: auto;
    background-color: rgb(255, 197, 255);
}

.drawer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navItem {
    display: flex;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
    opacity: 0.6;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: rgb(255, 251, 197);
    background-color: rgb(255, 239, 217);
    color: black;
    font-weight:bold;
}

.navItem:hover {
    opacity: 1;
    text-shadow: 0px 0px 30px white;
    background-color: rgb(255, 251, 197);
}

.navItemActive {
    composes: navItem;
    opacity: 1;
    background-color: rgb(255, 251, 197);
}

@media (min-width: 768px) {
    .navBar {
        display: flex;
    }

    .drawer {
        display: none;
    }

    .navItem {
        font-size: 1rem;
        margin-bottom: 0;
        margin-left: 0;
        text-align: center;
    }

    .navItem:hover {
        color: rgb(198, 22, 198);
    }
}