/* nav bar */
.navBar {
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0;
    max-height: auto;
    background-color: #fff;
}

.drawer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navItem {
    display: flex;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
    color: rgb(2, 2, 2);
    opacity: 0.6;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    border-style: solid;
    border-radius: 0.5rem;
}

.navItem:hover {
    color: rgb(102, 102, 102);
    opacity: 1;
    text-shadow: 0px 0px 30px white;
    background-color: rgb(255, 253, 253);
}

.navItemActive {
    composes: navItem;
    opacity: 1;
    background-color: rgba(255, 228, 196, 0.753);
}

@media (min-width: 768px) {
    .navBar {
        display: flex;
    }

    .drawer {
        display: none;
    }

    .navItem {
        color: rgb(2, 2, 2);
        font-size: 1rem;
        margin-bottom: 0;
        margin-left: 0;
        text-align: center;
    }

    .navItem:hover {
        color: rgb(102, 102, 102);
    }
}