.item {
    background-color: none;
    border-radius: 1%;
    padding: 0;
    border-radius: 3rem;
    padding-bottom: 1rem;
 }
 
 .info {
    padding: 1.2rem;
    background-color: rgb(108, 66, 133);
    border-radius: 3rem;
    padding-bottom: 1rem;
 }
 
 .name {
    color: white;
    margin-bottom: 0.3rem;
 }

 .image {
   @media (max-width: 576px) {
     width: 100%;
     height: auto;
   }
 }
 
 
