.item {
   border-radius: 1rem;
   border: dotted yellow 0.2rem;
   padding: 0;
   overflow: hidden; /* 添加 overflow 屬性 */
}

.item img:hover {
   transform: scale(1.1); /* 添加放大圖片的 transform 屬性 */
   transition: 0.5s;
}

.info {
   padding: 1.2rem;
   background: radial-gradient(ellipse farthest-corner at 0 85%,
   rgba(242, 33, 242, 0.855) 1%, rgba(255, 188, 255, 0.597) 50%, beige);
}

.category {
   color: rgb(242, 33, 242);
   opacity: 0.8;
   margin-bottom: 0.2rem;
}

.name {
   color: white;
   margin-bottom: 0.3rem;
}

.textGray {
   color: white;
   opacity: 0.6;
}
